<div class="container my-5">
    <h1 class="lead">
        My Addresses
    </h1>
    <button class="btn btn-primary rounded-0" data-bs-toggle="modal" data-bs-target="#newAddressModal">Create New Address</button>
    <div class="row row-cols-md-4 row-cols-1 my-5 g-2">
        {% for address in customer.addresses %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {{ address | format_address }}
                    </div>
                    <div class="card-footer">
                        <form action="/account/addresses/{{address.id}}" method="post" data-confirm-message="Delete Address">
                            <input type="hidden" name="_method" value="delete">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>

</div>

<div class="modal fade" id="newAddressModal" tabindex="-1" aria-labelledby="newAddressModalLabel" aria-hidden="true">
    {% form 'customer_address', customer.new_address %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newAddressModalLabel">Add New Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- input field for new first name -->
                    <div class="col-12 mb-3">
                        <label for="AddressFirstNameNew" class="form-label">First Name</label>
                        <input type="text" name="address[first_name]" value="{{ form.first_name }}" id="AddressFirstNameNew" class="form-control">
                    </div>
                 <!-- input field for new last name -->
                    <div class="col-12 mb-3">
                        <label for="AddressLastNameNew" class="form-label">Last Name</label>
                        <input type="text" name="address[last_name]" value="{{ form.last_name }}" id="AddressLastNameNew" class="form-control">
                    </div>
                    <!-- input field for new company name -->
                    <div class="col-12 mb-3">
                        <label for="AddressCompanyNew" class="form-label">Company</label>
                        <input type="text" name="address[company]" value="{{ form.company }}" id="AddressCompanyNew" class="form-control">
                    </div>
                    <!-- input field for new address -->
                    <div class="col-12 mb-3">
                        <label for="AddressAddress1New" class="form-label">Address</label>
                        <input type="text" name="address[address1]" value="{{ form.address1 }}" id="AddressAddress1New" class="form-control">
                    </div>
                    <!-- input field for new apt # -->
                    <div class="col-12 mb-3">
                        <label for="AddressAddress2New" class="form-label">Apt, Suite, etc..</label>
                        <input type="text" name="address[address2]" value="{{ form.address2 }}" id="AddressAddress2New" class="form-control">
                    </div>

                    <div class="row mb-3">
                        <!-- input field for new city -->
                        <div class="col-12 col-md-4 mb-3">
                            <label for="AddressCityNew" class="form-label">City</label>
                            <input type="text" name="address[city]" value="{{ form.city }}" id="AddressCityNew" class="form-control">
                        </div>
                        <!-- input field for new country -->
                        <div class="col-12 col-md-4 mb-3">
                            <label for="AddressCountryNew" class="form-label">Country</label>
                            <select name="address[country]" id="AddressCountryNew" class="form-control">{{ all_country_option_tags}}</select>
                        </div>
                        <!-- input field for new province -->
                        <div class="col-12 col-md-4 mb-3">
                            <label for="AddressProvinceNew" class="form-label">Province</label>
                            <select name="address[province]" id="AddressProvinceNew" class="form-control" disabled="disabled"></select>
                        </div>
                       

                    </div>

                    <!-- input field for new zip code -->
                    <div class="col-12 mb-3">
                        <label for="AddressZipNew" class="form-label">Zip Code</label>
                        <input type="text" name="address[zip]" value="{{ form.zip }}" id="AddressZipNew" class="form-control">
                    </div>
                    <!-- input field for new phone # -->
                    <div class="col-12 mb-3">
                        <label for="AddressPhoneNew" class="form-label">Phone Number</label>
                        <input type="text" name="address[phone]" value="{{ form.phone }}" id="AddressPhoneNew" class="form-control">
                    </div>
                    
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Create Address</button> 
                </div>

            </div>
        </div>
    {% endform %}

</div>